<% if slide.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(slide.errors.count, "error") %> prohibited this slide from being saved:</h2>

    <ul>
    <% slide.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for([naturesoft, :admin, slide], html: {class: "form-horizontal", id: "validate_checking", multipart: true}) do |f| %>

  <div class="form-group">
    <label class="col-lg-2 control-label" ><%= t(:image) %> <span class='text-danger'>*</span></label>
    <div class="media no-margin-top col-lg-10">
      <div class="media-left">
        <a href="#"><img src="/backend/assets/images/placeholder.jpg" style="width: 58px; height: 58px; border-radius: 2px;" alt=""></a>
      </div>

      <div class="media-body">
        <input type="file" name="slide[image]" class="file-styled">
        <span class="help-block">Accepted formats: gif, png, jpg.</span>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-lg-2 control-label" ><%= t(:name) %> <span class='text-danger'>*</span></label>
    <div class="col-lg-10">
      <%= f.text_field :name, class: "form-control required" %>
    </div>
  </div>
      
  <div class="form-group">
    <label class="col-lg-2 control-label" ><%= t(:description) %> <span class='text-danger'>*</span></label>
    <div class="col-lg-10">
      <%= f.text_area :description, class: "form-control required", style: "min-width:100%;max-width:100%" %>
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-lg-2 control-label" ><%= t(:slideshow_option) %> <span class='text-danger'>*</span></label>
    <div class="col-lg-6">
      <%= f.collection_select(:slideshow_id, Naturesoft::Slideshows::Slideshow.all, :id, :name, {:prompt=> "Choose..."}, {class: "select"}) %>
    </div>
  </div>

  <div class="text-right">
    <%= button_tag "#{t(:save)}<i class=\"icon-check position-right\"></i>".html_safe, class: "btn btn-primary"%>
    <%= link_to "#{t(:cancel)}<i class=\"icon-cross3 position-right\"></i>".html_safe, naturesoft.admin_slides_path, class: "btn btn-danger"%>
  </div>
    
<% end %>
