<% title "Slides" %>

<div class="text-right">
    <a href="#" class="btn btn-primary">New slide</a>
</div>
<br />
<form class="listing-form">
    
    <div class="panel panel-flat">
        <div class="panel-body filter-box">                
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Slideshows</label>
                        <input class="form-control" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Sort by</label>
                        <input class="form-control" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Sort order</label>
                        <input class="form-control" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group has-feedback">
                        <label>Search</label>
                        <input type="text" class="form-control" placeholder="Enter search...">
                        <div class="form-control-feedback">
                            <i class="icon-search4 text-size-base"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Basic datatable -->
    <div class="panel panel-flat">        
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr class="bg-teal-800">
                        <th>Image</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Created At</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% @slides.each do |slide| %>
                        <tr>
                          <td>
                            <div class="media-left">
                              <%= image_tag("", size: "180x110", class: "img-rouded") %>
                            </div>
                          </td>
                          <td>
                              <%= slide.name %>
                          </td>
                          <td>
                              <%= slide.description %>
                          </td>
                          <td><%= slide.created_at.strftime("%d/%m/%Y") %></td>
                          <td class="text-center">
                            <ul class="icons-list">
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-menu9"></i>
                                </a>
        
                                <ul class="dropdown-menu dropdown-menu-right">
                                  <li>
                                      <%= link_to '<i class="glyphicon glyphicon-edit"></i>'.html_safe + t(:edit), naturesoft.edit_admin_slide_path(slide) %>
                                  </li>
                                  <li>
                                      <%= link_to '<i class="icon-cross2"></i>'.html_safe + t(:delete), naturesoft.admin_slide_path(slide), method: :delete, data: { confirm: 'Are you sure?' } , class: "backend_delete_item" %>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                          </td>
                      </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        
        <div class="dataTables_wrapper no-footer">
            <div class="datatable-footer showed">
                <div class="dataTables_info" ><%= page_entries_info @slides %></div>
                <div class="dataTables_paginate paging_simple_numbers">
                    <%= will_paginate @slides, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>
                </div>
            </div>
        </div>    
    </div>
</form>
<!-- /basic datatable -->