<% title "Slides" %>

<div class="text-right">
    <%= link_to ("#{t(:new_slide)}" + '<i class="icon-plus22 position-right"></i>').html_safe, naturesoft_slideshows.new_admin_slide_path, class: 'btn btn-primary' %>
</div>
<br />

<form class="listing-form">
    <!--<div class="panel panel-flat">-->
        <div class="panel panel-body border-top-primary filter-box">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label><%= t(:slideshows) %></label>
                        <%= select_tag(:slideshow_id, options_from_collection_for_select(Naturesoft::Slideshows::Slideshow.all, :id, :name, :selected => params[:slideshow_id]), include_blank: t(:all), class: "select2") %>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label><%= t(:sort_by) %></label>
                        <%= select_tag(:sort_by, options_for_select(Naturesoft::Slideshows::Slide.sort_by, :selected => params[:sort_by]), class: "select2") %>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label><%= t(:sort_order) %></label>
                        <%= select_tag(:sort_orders, options_for_select(Naturesoft::Slideshows::Slide.sort_orders, :selected => params[:sort_orders]), class: "select2") %>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group has-feedback">
                        <label><%= t(:search) %></label>
                        <input type="text" name="keyword" class="form-control" placeholder="Enter search..." value="<%= params[:keyword] %>">
                        <div class="form-control-feedback">
                            <i class="icon-search4 text-size-base"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--</div>-->
    
    <!-- Basic datatable -->
    <div class="panel panel-flat">        
        <div class="table-container">
            <table class="table table-striped">
                <thead>
                    <tr class="bg-teal-800">
                        <th>Image</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Creator</th>
                        <th>Created At</th>
			<th>Status</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% @slides.each do |slide| %>
                        <tr>
				<td>
					<%= image_tag(slide.image.system, size: "70x70", class: "img-rounded img-preview") %>
				</td>
				<td class="kq_search">
					<%= slide.name %>
				</td>
				<td class="kq_search">
					<%= slide.description %>
				</td>
				<td>
				  <div class="media-left align_center">
					  <img src="" class="img-circle" alt="">
					  <br />Creator
				  </div>
				</td>
				<td><%= slide.created_at.strftime("%d/%m/%Y") %></td>
				<td><%= display_status(slide.status) %></td>
				<td class="text-right">
					<div class="btn-group">
						<%= link_to '<i class="icon-pencil"></i>'.html_safe, naturesoft_slideshows.edit_admin_slide_path(slide), class: "btn bg-teal-400 btn-icon" %>
						<button type="button" class="btn bg-teal-400 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
						<ul class="dropdown-menu dropdown-menu-right">
							<% if slide.status == 'active' %>
								<li>
									<%= link_to "<i class=\"icon-unlocked2\"></i> Enable".html_safe, naturesoft_slideshows.enable_admin_slides_path(slide), method: :put, data: { confirm: 'You want change?' } %>
								</li>
							<% end %>
							<% if slide.status == 'inactive' %>
								<li>
									<%= link_to "<i class=\"icon-lock2\"></i> Disable".html_safe, naturesoft_slideshows.disable_admin_slides_path(slide), method: :put, data: { confirm: 'You want change?' } %>
								</li>
							<% end %>
							<li class="divider"></li>
							<li>
								<%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe + t(:delete), naturesoft_slideshows.admin_slide_path(slide), method: :delete, data: { confirm: 'Are you sure?' } , class: "backend_delete_item" %>
							</li>
						</ul>
					</div>
				</td>
			</tr>
                    <% end %>
                </tbody>
            </table>
			<div class="dataTables_wrapper no-footer">
				<div class="datatable-footer showed">
					<div class="dataTables_info" ><%= page_entries_info @slides %></div>
					<div class="dataTables_paginate paging_simple_numbers">
						<%= will_paginate @slides, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>
					</div>
				</div>
			</div>  
        </div>
        
          
    </div>
    <!-- /basic datatable -->
</form>