<p id="notice"><%= notice %></p>
<p>Name: <%= @slide.name %></p>
<p>Description: <%= @slide.description %></p>
<p>ImageUrl: <%= @slide.image %></p>
<p>SlideShowID: <%= @slide.slideshow_id %></p>
<%= link_to 'Edit', naturesoft.edit_slide_path(@slide) %> |
<%= link_to 'Back', naturesoft.slides_path %>
