<%= form_for([naturesoft, slideshow]) do |f| %>
  <% if slideshow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(slideshow.errors.count, "error") %> prohibited this slideshow from being saved:</h2>

      <ul>
      <% slideshow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
      <%= f.label :height, class: "control-label" %>
      <%= f.text_field :height, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :width, class: "control-label" %>
      <%= f.text_field :width, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :image_style, class: "control-label" %>
      <%= f.text_field :image_style, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
