<!-- Basic datatable -->
<div class="panel panel-flat">
  <div class="panel-heading col-md-12">
    <h5 class="panel-title col-md-6"><span class="text-semibold">Listing Slideshows</span></h5>
    <%= link_to 'New Slideshow', naturesoft.new_admin_slideshow_path, class: 'btn btn-primary pull-right' %>
  </div>
      
  <form class="listing-form">        
      <div class="table-container">
  
        <table class="table">
          <thead>
            <tr class="bg-teal-800">
                <th>Name</th>
                <th>Height</th>
                <th>Width</th>
                <th>Image Style</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @slideshows.each do |slideshow| %>
              <tr>
                <td>
                  <%= slideshow.name %>
                </td>
                <td>
                  <%= slideshow.height %>
                </td>
                <td>
                  <%= slideshow.width %>
                </td>
                <td>
                  <%= slideshow.image_style %>
                </td>
                <td><%= slideshow.created_at.strftime("%d/%m/%Y") %></td>
                <td class="text-center">
                  <ul class="icons-list">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-menu9"></i>
                      </a>
  
                      <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                          <%= link_to '<i class="glyphicon glyphicon-edit"></i>'.html_safe + t(:edit), naturesoft.edit_admin_slideshow_path(slideshow) %>
                        </li>
                        <li>
                          <%= link_to '<i class="icon-cross2"></i>'.html_safe + t(:delete), naturesoft.admin_slideshow_path(slideshow), method: :delete, data: { confirm: 'Are you sure?' } , class: "backend_delete_item" %>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="dataTables_wrapper no-footer">
          <div class="datatable-footer showed">
              <div class="dataTables_info" ><%= page_entries_info @slideshows %></div>
              <div class="dataTables_paginate paging_simple_numbers">
                <%= will_paginate @slideshows, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>
              </div>
          </div>
        </div>
      
      </div>
  </form>
</div>
<!-- /basic datatable -->