<p id="notice"><%= notice %></p>

<p>Height: <%= @slideshow.height %></p>
<p>Width: <%= @slideshow.width %></p>
<p>Width: <%= @slideshow.image_style %></p>
<%= link_to 'Edit', naturesoft.edit_slideshow_path(@slideshow) %> |
<%= link_to 'Back', naturesoft.slideshows_path %>
